<h2>Books</h2>

<div class="books">
	<h3 ng-repeat="book in books_ctrl.books">
    <a ui-sref="book({id: book.id})">{{ book.title }}</a>
    (<a ui-sref="genre({id: book.genre.id})">{{ book.genre.name }}</a>)
     by <a ui-sref="author({id: book.author.id})">{{ book.author.name }}</a>
		<!-- <item id="book"></item> -->
	</h3>
</div>

	<div>
		<ul class="pagination">
			<li ng-if="books_ctl.page > 0">
				<a href="" ng-click="books_ctl.previousPage()">
					<< Previous
				</a>
			</li>
			<li ng-if="books_ctl.page < books_ctl.totalPages - 1">
				<a href="" ng-click="books_ctl.nextPage()">
					Next >>
				</a>
			</li>
		</ul>

		<div style="clear: both;"></div>
	</div>
</div>
