

<div class="book_full" ng-if="book.data">
	<a ui-sref="book.review-new">
		<div class="button">
			Review this book
		</div>
	</a>

	<div ui-view></div>

	<h2 class="book__title">
		{{ book.data.title }}
	</h2>
  <a class="book__genre" ui-sref="genre({id: book.data.genre.id})">
		{{ book.data.genre.name }}
	</a><br>
	by <a class="book__author" ui-sref="author({id: book.data.author.id})">
		{{ book.data.author.name }}
	</a>

	<div class="reviews">
		<div ng-repeat="review in book.data.reviews">
			{{review.user.username}} said "{{review.content}}"
		</div>
	</div>
</div>

<a ui-sref="books">
  <div class="button">
    Browse all Books
  </div>
</a>
