<h2>Books</h2>

<input ng-model="books_ctrl.search" placeholder="Search"/>

<div class="books">
	<h3 ng-repeat="book in books_ctrl.filteredBooks">
    <a ui-sref="book({id: book.id})">{{ book.title }}</a>
    (<a ui-sref="genre({id: book.genre.id})">{{ book.genre.name }}</a>)
     by <a ui-sref="author({id: book.author.id})">{{ book.author.name }}</a>
		<!-- <item id="book"></item> -->
	</h3>
</div>

	<div>
		<div id="pagination" class="pagination">
      <a href="" ng-click="books_ctrl.previousPage()">
			  <div class="button" ng-if="books_ctrl.page > 0">
					<< Previous
			  </div>
      </a>
      <a href="" ng-click="books_ctrl.nextPage()">
  			<div class="button" ng-if="books_ctrl.page < books_ctrl.totalPages - 1">
  				Next >>
  			</div>
      </a>
		</div>

		<div style="clear: both;"></div>
	</div>
</div>
