
<p ng-if="isLoggedIn">
  You are already logged in, {{currentUser.username}}!
  <a href="" ng-click="logOut()">Log Out</a>
</p>

<div class="login" ng-if="isLoggedIn == false">
  <h3>Log In</h3>
  <form  class="form" action="" method="">
    <input
          name="email"
          placeholder="email"
          autofocus
          type="email"
          required="required"
          ng-model="user_ctrl.email" />
      <input
          name="password"
          type="password"
          placeholder="password"
          required="required"
          ng-model="user_ctrl.password" />
      <button  ng-click="user_ctrl.login()">Log In</button>
  </form>
</div>
