<div class="" ng-if="isLoggedIn()">
  <h3>Write a Review</h3>

  <form class="form" action="" method="">
    <label for="rating">Rating</label>
    <select name="rating"
    ng-model="reviews_ctrl.rating"
    ng-options="rating as rating for rating in [1,2,3,4,5]"
    required="">

    </select>
    <br>
    <textarea name="content" rows="8" cols="40"
      placeholder="Write your review here..."
      required="true"
      minlength="10"
      ng-model="reviews_ctrl.content">
    {{reviews_ctrl.content}}</textarea>

    <input type="hidden" name="book_id" value="{{book.data.id}}">
    <br>

  </form>
  <button ng-if="reviews_ctrl.type === 'new'" ng-click="reviews_ctrl.create()">Create Review</button>
  <button ng-if="reviews_ctrl.type === 'edit'" ng-click="reviews_ctrl.update()">Update Review</button>
</div>
